code,
kbd,
pre,
samp,
time {
  font-family: var(--mono);
  font-weight: normal;
  font-size: .9em;
}

code,
kbd,
samp {
  background: var(--darken);
  border-radius: 6px;
  box-shadow: 1.5px 2px var(--shadow);
  padding: 2.5px 4px;
}

pre {
  max-inline-size: 100%;

  > code {
    border: 1px solid var(--border);
    display: block;
    overflow-x: auto;
    padding: 10px;
  }

  &:not(:has(> code)) {
    overflow-x: auto;
  }
}

kbd {
  border: 1px solid var(--border);
}
