a {
  --detail: currentColor;

  color: inherit;

  text-decoration: underline;
  text-decoration-color: oklch(from var(--detail) l c h / .5);
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;

  transition:
    color .2s,
    background .2s,
    border-radius .2s,
    text-decoration-color .2s,
    transform .2s;

  &:hover {
    --detail: var(--accent);

    color: var(--detail);
  }

  &:active {
    transform: translateY(2px);
  }
}

a:not(.plain) {
  margin: 0 -2px;
  padding: 0 2px;

  background-image: linear-gradient(oklch(from var(--detail) l c h / .3));
  background-position: left 50% bottom 25%;
  background-repeat: no-repeat;
  background-size: 100% 0;

  &:hover {
    border-radius: 4px;

    background-position: center bottom;
    background-size: 100% 100%;

    text-decoration-color: transparent;
  }

  &[target="_blank"],
  &[target="_self"] {
    &::before {
      display: inline-block;
      content: "x";

      margin-inline-end: 2px;
      inline-size: 1em;

      background: currentColor;
    }
  }

  &[target="_blank"]::before {
    mask: var(--xlink) center center / 100% auto no-repeat;
  }

  &[target="_self"]::before {
    mask: var(--slink) center center / 100% auto no-repeat;
  }
}
