a {
  color: var(--foregd);
  text-decoration-color: var(--accent);
  text-decoration-style: wavy;
  text-decoration-thickness: 8%;
  text-decoration-skip-ink: none;
  text-underline-offset: 10%;
  transition:
    color .2s,
    text-decoration-color .2s,
    text-decoration-style .2s,
    text-decoration-thickness .3s,
    text-underline-offset .3s;

  &:hover {
    color: oklch(from var(--foregd) l c h / .8);
    text-decoration-color: oklch(from var(--accent) l c h / .2);
    text-decoration-style: solid;
    text-decoration-thickness: 125%;
    text-underline-offset: -100%;
  }

  & > code,
  & > strong {
    color: inherit;
  }
}
