dl {
  dt {
    font-weight: bold;
  }
}

img,
video {
  border-radius: 6px;
  block-size: auto;
  max-inline-size: 100%;
}

figure {
  text-align: center;

  figcaption {
    font-size: .8em;
    font-style: italic;
  }
}

hr {
  border: none;
  border-block-start: 2.5px solid var(--border);
  border-radius: 1em;
  box-shadow: 2px 2px 1px var(--shadow);
  inline-size: 96%;
}

table {
  border: 2px solid var(--border);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 1px var(--shadow);
  margin-block-end: 10px;
  overflow: hidden;
  white-space: nowrap;
  inline-size: 100%;

  caption {
    text-align: start;
  }

  thead {
    border-block-end: 1px solid var(--border);
  }

  tfoot {
    border-block-start: 1px solid var(--border);
  }

  thead,
  tfoot {
    tr {
      background: var(--darker);
    }
  }

  tbody {
    tr:nth-child(even) {
      background: var(--darken);
    }
    tr:nth-child(odd) {
      background: var(--backgd);
    }
    tr:hover {
      background: color-mix(in srgb, var(--darker) 95%, var(--accent));
    }
  }

  th,
  td {
    cursor: cell;
    padding: 8px;
    text-align: start;
    vertical-align: middle;

    max-inline-size: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      padding-inline-start: 1em;
    }
    &:last-child {
      padding-inline-end: 1em;
    }
  }
}

details {
  background: var(--darken);
  padding: 10px;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;

  summary {
    background: var(--darker);
    border-radius: 6px;
    cursor: pointer;
    margin: -10px;
    outline: none;
    padding: 10px;
    inline-size: 100%;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}

dialog {
  background: var(--backgd);
  border: 2px solid var(--border);
  border-radius: 6px;
  box-shadow: 6px 6px 3px var(--shadow);
  padding: 10px 30px;

  & > header:first-child {
    background: var(--darken);
    margin: -10px -30px 10px;
    padding: 10px;
    text-align: center;
  }

  &::backdrop {
    background: oklch(0% 0 0 / .2);
    backdrop-filter: blur(1px);
  }
}
