h1, h2, h3, h4, h5, h6 {
  margin-block: 1ch 0;
}

h1, h2, h3, h4 {
  font-family: var(--serif);
  font-weight: bold;
  font-variation-settings:
    "SOFT" 80;
  line-height: 1.2;
  margin-block-end: 0;
  text-shadow: 2px 2px 1px var(--shadow);
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.0em;
}

p {
  hyphens: auto;
  text-align: justify;
  margin-block: 1ch;
}

strong, b {
  font-weight: 600;
}

blockquote {
  :first-child {
    margin-block-start: 0;
  }

  :last-child {
    margin-block-end: 0;
  }

  & > footer {
    font-style: normal;
    border: 0;
  }

  & cite {
    font-style: normal;
  }
}

blockquote,
q {
  background: var(--darken);
  border-inline-start: 4px solid var(--border);
  border-radius: 4px 1em 1em 4px;
  margin-inline: 0;
  padding: 1ch;
  overflow: hidden;
}

q {
  font-style: italic;
}

address {
  font-style: normal;
}

mark {
  background: oklch(from var(--marker) l c h / .5);
  border-radius: 2px;
  padding: 0 2px 0 2px;
  color: inherit;
}

::selection {
  background: oklch(from var(--accent) l c h / .3);
  color: inherit;
}
