@import "core/index.css";
@import "font/index.css";

:root {
  /*
   * Colors
   */
  color-scheme: light dark;
  accent-color: var(--accent);
  /* Palette */
  --red:    light-dark(rgb(255, 059, 048), rgb(255, 069, 058));
  --orange: light-dark(rgb(255, 149, 000), rgb(255, 159, 010));
  --yellow: light-dark(rgb(255, 204, 010), rgb(255, 214, 010));
  --green:  light-dark(rgb(052, 199, 089), rgb(048, 209, 088));
  --mint:   light-dark(rgb(000, 199, 190), rgb(099, 230, 226));
  --teal:   light-dark(rgb(048, 176, 199), rgb(064, 200, 224));
  --cyan:   light-dark(rgb(050, 173, 230), rgb(100, 210, 255));
  --blue:   light-dark(rgb(000, 122, 255), rgb(010, 132, 255));
  --indigo: light-dark(rgb(088, 086, 214), rgb(094, 092, 230));
  --purple: light-dark(rgb(175, 082, 222), rgb(191, 090, 242));
  --pink:   light-dark(rgb(255, 045, 085), rgb(255, 055, 095));
  --brown:  light-dark(rgb(162, 132, 094), rgb(172, 142, 104));
  /* Accent */
  --accent: light-dark(oklch(50% 0.18 14), oklch(65% 0.20 14));
  /* Primary */
  --backgd: light-dark(oklch(98% .01 105), oklch(25% .02 245));
  --foregd: light-dark(oklch(34% .05 245), oklch(96% .02 105));
  /* Layer */
  --darken: color-mix(in oklch, var(--backgd) 95%, light-dark(black, white));
  --darker: color-mix(in oklch, var(--backgd) 90%, light-dark(black, white));
  /* Features */
  --banner: light-dark(oklch(94% 0.05 135), oklch(34% .05 245));
  --border: var(--accent);
  --marker: var(--yellow);
  --shadow: light-dark(oklch(0% 0 0 / .2), oklch(40% 0 0 / .2));
}
